* {
    box-sizing: border-box;
  }
    
  body {
    font-family: 'Noto Sans TC', sans-serif;
    height: 100vh;
    padding-top:54px;
  }
  
  #content {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    min-height: 786px;
  }
    
  .common-wrapper {
    width: 100%;
    max-width: 1200px;
  }
  
  #fixed-top-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid #E8E8E8;
  }
    
  .nav-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
    
  #logo a {
    color: #448899;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
  }
  
  #menu-items a {
    color: #666666;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    color: #f2f2f2;
    text-align: center;
    height: 104px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
  }

  /* modal */
#signin-modal{
  width: 340px;
  height:275px;
}

#signup-modal{
  width: 340px;
  height:332px;
}

.modal {
  display: none; 
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top:80px;
  z-index: 800; 
  background: #fff;
  padding: 25px 15px 15px 15px;
  border-radius: 6px;
  box-shadow: 0px 4px 60px 0px #AAAAAA;
  border-top: 10px solid; 
  border-image: linear-gradient(90deg, #337788 0%, #66AABB 100%) 1;
}

.modal .modal-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
  color:#666666;
}

.modal .close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 300px;
  z-index: 1000;  
  cursor: pointer;
  padding: 7px;
}

.modal .close-button img {
  width: 16px;
  height: 16px
}

.modal .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.modal .form input {
  width: 100%;
  height: 47px;
  padding: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  color:#757575;
}

.modal button {
  width: 100%;
  height: 47px;
  padding: 10px;
  background-color: #448899;
  color: white;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal .form .prompt {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  color: #666666;
  justify-content: center;
}

.prompt span {
  cursor: pointer;
}

/* modal */

@media (min-width: 600px) and (max-width: 1200px){
  #logo a {
    padding-left: 10px;
  }
}

@media (max-width: 600px){
  .common-wrapper {
    min-width: 340px;
  }

  #logo a {
    padding-left: 10px;
  }

  #menu-items a {
    color: #666666;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
  }
}